<div class="item">
    <div class="item-left">
        <div class="item-title">{{title}}</div>
        {{#if note}}<div class="item-note">{{note}}</div>{{/if}}
        {{#if qty}}
        <div class="item-meta muted small">
            Qty: {{qty}}{{#if unit_price}} · Unit: {{eur unit_price}}{{/if}}
        </div>
        {{/if}}
    </div>
    <div class="item-right">
        <div class="item-price"><strong>{{eur total}}</strong></div>
    </div>
</div>