<tr>
    <td>
        <strong>{{title}}</strong>
        {{#if note}}<div class="muted small">{{note}}</div>{{/if}}
    </td>
    <td class="right">{{qty}}</td>
    <td class="right">{{eur unit_price}}</td>
    <td class="right">{{eur total}}</td>
</tr>